# =============== #
# Unity Generated a#
# =============== #

Library/
Library/*
Temp/
Library

# Debug Temporary Files
obj/
obj/*

# ====================== #
# Unity Editor Generated #
# ====================== #

Assets/StreamingAssets/build_info.txt

# ===================================== #
# Visual Studio / MonoDevelop Generated #
# ===================================== #

/*.csproj
/*.sln
/*.userprefs
.vs/

# =============== #
# Build Generated #
# =============== #

Builds/

# ============ #
# OS Generated #
# ============ #

.DS_Store

# ================ #
# Custom Generated #
# ================ #

/zero/*
/AssetBundles/*
/Assets/Resources/PrefabsInBundles*
/MIAOKIDSMATH/*

# Generated using `npm install` command
/node_modules/*

#
/Assets/Editor/BuildEnDeCode.cs
/Assets/Editor/BuildEnDeCode.meta
#
Assets/TMP/*
Assets/Packages/miaokids-framework/Scripts/Operations/AssetLoadFileOperation.cs.meta~HEAD
Assets/Packages/miaokids-framework/Scripts/Operations/AssetLoadFileOperation.cs~HEAD
Assets/Packages/miaokids-framework/Scripts/Utilities/ResourcesWrapper.cs.meta~course_course_interact
Assets/Editor/Tools/BuildEnDeCode.cs.meta
Assets/Editor/Tools/BuildEnDeCode.cs


